@model List<ADOPrac.BusinessLogicLayer.Models.StateListResponse>

<h1>State</h1>


<div class="row">
	<div class="col-md-6">
		<table class="table">
			<tr>
				<th>State Id</th>
				<th>State Name</th>
				<th>State Description</th>
				<th>Country Name</th>
				<th>Is Active</th>
				<th>Actions</th>
			</tr>

			@foreach(var state in Model){
				<tr>
				<td>@state.StateId</td>
				<td>@state.StateName</td>
				<td>@state.StateDescription</td>
				<td>@state.CountryName</td>
				<td>@state.isActive</td>
					<td><a>Edit</a> | <a>Delete</a></td>
				</tr>
			}

		</table>
	</div>
	<div class="col-md-6">
		@await Html.PartialAsync("Create", new ADOPrac.BusinessLogicLayer.Models.State())
	</div>
</div>